@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Water+Brush&display=swap'); //variables //
$yellowColor: #FEC260;
$blackColor: #131313;
$darkGrey: #000000;
$redColor: #ff2957;
$lightGrey: #73777B;

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  a{
    cursor: pointer;
  }
}

#navbar-logo {
  background-color: $yellowColor;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fil-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Water Brush', cursive;
  width: 120%;
  max-width: 1000px;
}

.nav-logo{
  position: relative;
  width: fit-content;
  margin-top: 2px;



}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;

  &:hover {
    color: $yellowColor;
    transition: all 0.3s ease;
  }
}

.navbar-link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;

  &:hover {
    color: $yellowColor;
    transition: all 0.3s ease;
  }
}

.bar {
  color: $yellowColor;
}
// Hero Section //
#home {
  padding-top: 11%;
  padding-bottom: 10rem;
}

.profile {
  border-radius: 50%;
}

.hero {
  background: $blackColor;
  background: linear-gradient(to right, #161616, #000000);
  padding: 100px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 90%;
  text-align: center;
  padding: 30px;
  bottom: 3rem;
}

.hero-heading {
  font-size: 2rem;
  margin-top: 2rem;
  color: #fff;
}

.hero-mid {
  font-size: 4rem;
  color: #fff;
  font-weight: 800;
}

.highlight {
  border-bottom: 4px solid rgb(254,194,96);
}

.highlighted-yellow {
  color: $yellowColor;
}

.mid-bottom {
  font-size: 2.5rem;
}

.hero-description {
  font-size: 1rem;
  color: #fff;
  font-weight: 800;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  color: $blackColor;
  transition: all 0.3s ease;
}

.main-btn {
  font-size: 1.8rem;
  background: #C6FFDD;
  background: #C6FFDD;
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  text-decoration: none;
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    color: #fff;
    left: 0;
    width: 0;
    height: 100%;
    background: #FFC600;
    transition: all 0.35s;
    border-radius: 4px;
  }

  &:hover {
    color: #fff;
  }
}

.main-btn:hover:after {
  width: 100%;
}

.main-btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
/* About me */

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.header {
  font-size: 100px;
  margin-bottom: 20px;
  color: #73777B;
  font-weight: 900;
}

.main {
  position: relative;
  background-color: $blackColor;
  padding: 5rem 0 25rem;
}

.main-cont-left {
  align-items: left;
  text-align: left;
  width: 50%;
  position: relative;
  top: 5rem;
}
//skills //
#skills {
  margin: auto auto 22rem;
}

.about-me {
  position: relative;
}

.about-title {
  color: $yellowColor;
  position: relative;
  bottom: 1rem;
}

.about-body {
  font-size: 1.3rem;
  color: #fff;
  font-weight: normal;
}

.udemy {
  color: $yellowColor;
}

.crossed {
  text-decoration: line-through;
  text-decoration-color: $lightGrey;
}

.dying-red {
  color: $redColor;
}

.skills {
  position: relative;
  margin: 10% auto auto;
  top: 17rem;
  float: right;

  li {
    display: flex;
    flex-direction: column;
  }
}

.tool-title {
  float: right;
  bottom: -9rem;
}

.skill-img {
  width: 80%;
}

.skillset {
  display: -ms-grid;
  display: flex;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: $lightGrey;
  border-radius: 30px;
  padding: 48px;
  position: relative;
  top: 11rem;
  width: 100%;
}

.img-container {
  position: relative;

  .skill-img {
    width: 4.5rem;
  }

  img {
    width: 4rem;
    height: auto;
    margin: 4% auto auto;
  }

  p {
    color: #fff;
  }
}

.sass-text {
  position: relative;
  margin-top: 0.8rem;
}

.bootstrap {
  position: relative;
}

.p-text-lower {
  position: relative;
  top: 0.5rem;
}

.img-container {
  width: 100px;
  height: 100px;
  margin: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 17px;

  &:hover {
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
  }
}

#projects {
  background-color: $darkGrey;
  margin: auto;
  padding-bottom: 18rem;
}

.project-header {
  position: relative;
  margin: 8% auto auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 3rem;
  position: relative;
  top: 10rem;
}

.projects-title {
  position: relative;
  bottom: 1rem;
}

.project-photos {
  width: 90%;
  max-width: 1300px;
  height: 13.5rem;
  margin: auto;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 25px;
  opacity: 60%;

  &:hover {
    transition: box-shadow 0.3s ease-in-out;
    -moz-box-shadow: 0 4px 7px 0 #FFFFFF;
    -webkit-box-shadow: 0 4px 7px 0 #FFFFFF;
    box-shadow: 0 4px 7px 0 #FFFFFF;
    transform: scale(1.08);
    opacity: 100%;
  }
}

.project-column a {
  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
// Contact //
#contact {
  display: block;
  position: relative;
  margin: auto;
  padding-bottom: 15rem;
  background-color: $blackColor;
}
//writting//
.contact-title {
  position: relative;
  top: 2rem;
}

.text-section {
  width: 70%;
  max-width: 1300px;
  text-align: left;
  font-weight: bold;
  position: relative;
  float: left;
  color: #fff;
  top: 0.5rem;
}

.text-contact {
  font-size: 1.2rem;
}

.text-top {
  position: relative;
  bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: $yellowColor;
}
//Form//

.text-contact {
  background: $blackColor;
}

.form-group.form-control {
  display: block;
}

.form-group {}

.form-control {
  margin-bottom: 20px;
  background-color: $blackColor;
  opacity: 60%;
}

.btn-submit {
  position: relative;
  border: hidden;
  font-weight: bold;
  height: auto;
  right: 13.1rem;
  bottom: 1.5rem;
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
    transition: box-shadow 0.2s ease-in-out;
    -moz-box-shadow: 0 4px 7px 0 #FFFFFF;
    -webkit-box-shadow: 0 4px 7px 0 #FFFFFF;
    box-shadow: 0 4px 7px 0 #FFFFFF;
    color: $lightGrey;
  }
}
//Footer//
#footer {
  background-color: $darkGrey;
  margin: auto;
  padding-top: 10%;
}

.footer-logo {
  color: $yellowColor;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Water Brush', cursive;
  right: 2rem;
  a {
    position: relative;
    right: 5rem;
    cursor: pointer;

    &:hover {
      color: #FFC600;
      transform: scale(1.1);
    }
  }
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
  color: $yellowColor;
}

.footer-link-items a {
  color: $yellowColor;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;

  &:hover {
    transition: 0.3 ease-out;
  }
}

.social-icon-link {
  color: $yellowColor;
  font-size: 1.5rem;

  &:hover {
    color: #FFC600;
    transform: scale(1.1);
  }
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto 0;
  position: relative;
  bottom: 5rem;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.fa-brands{
  position: relative;
  margin-left: 4rem;
}

.website-rights {
  color: $yellowColor;
  margin-top: 2%;
  margin-left: 5%;
}
@media (max-width: 1028px) {


  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: $blackColor;
  }

  .navbar-menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    padding-left: 4rem;
    padding-top: 8px;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1.6rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: $yellowColor;
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotateX(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotateX(-45deg);
  }

  #signup:hover {
    transform: scale(1.1);
  }

  .skillset {
    display: grid;
  }
  //Hero section //
  #home {
    padding-bottom: 35rem;
  }

  .hero-mid {
    font-size: 5.5rem;
  }

  .hero-container {
    position: relative;
    top: 17rem;
  }

  .hero-description {
    font-size: 1.8rem;
    width: 66%;
    margin-top: 3%;
  }

  .header {
    font-size: 4rem;
  }

  .main-cont-left {
    position: relative;
    margin: auto;
    right: 7rem;
  }

  #skills {
    position: relative;
    left: 8rem;
    margin-bottom: 8rem;
  }

  .project-photos {
    width: 90%;
    height: 19rem;
    opacity: 80%;
  }
  // Contact//
  #contact {
    align-items: center;
    text-align: center;
    position: relative;
  }

  .row {
    margin: auto;
    width: 60%;
  }

  .text-section {
    width: 90%;
  }

  .text-contact {
    font-size: 1.5rem;
  }

  .text-form {
    margin: 10% auto auto;
  }

  .btn-submit{
    position: relative;
    right: 12.5rem;
  }


  //Footer//


  #footer{
    padding-bottom: -1rem;
  }


  .social-media-wrap{
    position: relative;
    padding-top: 5%;
    margin: auto;
    
  }

  .footer-logo{
    margin: auto;
  }

  .website-rights{
    position: relative;
    right: 5rem;
  }

  .social-icons{
  }
}
