@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&family=Nunito:ital,wght@0,300;0,400;0,500;1,300&family=Water+Brush&display=swap');

@mixin button() {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  background: white;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: $lightRed;
    height: 100%;
    width: 0;
    transition: 0.2s;
    z-index: -1;
  }

  &:hover::before {
    width: 100%;
  }
}

$lightRed: #EE8683;


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

.highlight {
  border-bottom: 4px solid rgb(238,134,131);
}

.stickyadd{
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0,0,0,0.5);
  transition: 0.3s all ease-in-out;

  a{
      color: black !important;
  }
}

#menu-btn{
  display: none;
}

.fa-times{
  font-size: 3rem;
}

/* pre-loader */

.preloader{

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.1);
    border-top: 10px solid #ee8683;
    animation: animate 1.5s infinite linear;
    z-index: 99999;
  }

  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50% !important;
    background-color: #000;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50% !important;
    background-color: #000;
  }

  .complete{
    &:before {
      bottom: -50%;
    }

    &:after {
      top: -50%;
    }
  }
}

.preloader.complete{
  visibility: hidden;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* navbar */

.navbar{
  background: transparent;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

    .nav-logo{
      position: relative;
      width: fit-content;
      margin-top: 1%;
      font-weight: 600;
      #navbar-logo{
        background-color: $lightRed;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fil-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 3rem;
        font-family: 'Water Brush', cursive;
        width: 120%;
        max-width: 1000px;      }
    }

    #mobile-menu{
      span.bar{

      }
    }
    .navbar-menu{
      display: flex;
      align-items: center;
      list-style: none;
      .navbar-item{
        height: 80px;
        .navbar-links{
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125px;
          text-decoration: none;
          height: 100%;
          font-weight: 500;
          transition: all 0.3s ease;
          &:hover {
            color: $lightRed;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

header{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container-fluid{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .row{
      .col{
        .content-box{
          max-width: 700px;
          color: #fff;

          h4 {
            font-size: 30px;
          }

          h1 {
            font-size: 52px;

            span{
              color: $lightRed;
            }
          }

          p{
            color: #839AA8;
          }

          .btn{
            color: #fff;
            text-decoration: none;
            border: 2px solid #fff;
            padding: 5px 25px;

            &:hover {
              color: #000;
              background: #fff;
              transition: 0.5s all;
            }
          }
        }
      }
    }
  }
}

#about{
  overflow: hidden;
  padding-top: 1%;


  .container{
    .row{
      .profile{
        img{
          height: 100% !important;
        }
      }
      .about-column{
        h2{
          padding-bottom: 2%;
        }
        h4{

        }
        p{
          width: 80%;

          .crossed {
            text-decoration: line-through;
          }

          .dying-red {
            color: #F15412;
          }
          .udemy{
            color: $lightRed;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#exp-id{
  padding-bottom: 5%;
  .container{
    .row{
      .col-md-6{
        h3{

        }
        label{
          font-size: 20px;
          margin: 10px;
        }
        .progress{
          height: 10px;
          border-radius: 20px;
          font-size: 10px;
          .progress-bar{
            background-color: $lightRed !important;
          }
        }
      }
    }
  }
}

/*#projects-id{
  .container{
    .row{
      .col{
        .col{
          h2{

          }
        }
      }
      .col-lg-4{
        .box{
          height: 15rem;
          width: 25rem;
          border-radius: 0.5rem;
          margin: 2rem;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          box-shadow: 0 0 0.5rem #333;
          margin: 5% auto;
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;

          }
          .info{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(51,51,51,.6);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            color: #fff;
            transform: scale(0);

            h2{
              margin-top: 5%;
              font-size: 2rem;
            }
            p{
              font-size: 1.3rem;
              border-bottom: 0.2rem solid $lightRed;
              border-top: 0.2rem solid $lightRed;
              margin: 1rem 2rem;
              color: white;
            }
            a{
              transform: scale(.7);
              button{
                @include button();
                height: 4rem;
                width: 14rem;
                position: relative;
                bottom: 0.7rem;
              }
            }
          }
          &:hover .info {
            transform: scale(1);
          }
        }
      }
    }
  }
}*/

//portfolio //

.img-thumbnail {
    height: 200px !important;
    width: 80%;
}

#contact-id{
  .container{
    .contact-title{
      margin-left: 45%;
      margin-bottom: 5%;

    }
    .row{
      .col-lg-6{
        .text-section{
          width: 85%;
          margin-top: 20%;
          margin-left: 6%;
          grid-column-gap: 50px;

          h3.text-top{
            font-size: 2rem;

          }
          h2{
            margin-top: 5%;
            font-size: 1.5rem;

          }
        }
        .text-form{
          background: #fff;
          padding-top: 2rem;
          margin: 1rem 2rem;
          border-radius: 1rem;
          box-shadow: 0 0 0.5rem #333;
          width: 90% !important;

          input{

          }
          .inputBox{
            position: relative;
            text-align: center;

            input,
            textarea{
              outline: none;
              border: 0.2rem solid #333;
              border-radius: 0.2rem;
              margin: 2rem 0;
              padding: 0 1rem;
              background: none;
              height: 4rem;
              width: 90%;
              font-size: 2rem;

              &:focus ~ h3,
              &:valid ~ h3 {
                font-size: 1.6rem;
                left: 6%;
                top: -.5rem;
                color: $lightRed;
                transition: 0.3s  ease-in-out;
              }
            }
            h3{
              position: absolute;
              top: 3rem;
              left: 7%;

            }
            textarea{
              padding: 1rem;
              resize: none;
              height: 23rem;
            }
          }
          input[type='submit'] {
            @include button();
            height: 3rem;
            width: 10rem;
            margin-bottom: 2rem;
            margin-left: 4%;
            background: $lightRed;
            color: #fff;
            &:hover{
              transform: scale(1.05);
              transition: 0.3s all ease-in-out;
            }

          }
        }
      }
    }
  }
}

footer{
  height: 200px;
  background-color: #333333;

  .container{
    .row{
      .col{
        .r-icon{
          ul{
            li{
              a{
                font-size: 22px;
                color: #848484;
                padding: 10px;
                border-radius: 50%;
                &:hover{
                  color: $lightRed;
                  transition: .5s all;
                }
              }
            }
          }
        }
        p{

        }
      }
    }
  }
}


@media (min-width: 280px) and (max-width: 1028px) {

body{
  overflow-x: hidden;
}
  #menu-btn{
    display: inline-block;
    transition: all 0.3s ease-in-out;
    color:  $lightRed;
    font-size: 3rem;
    display: block;
    cursor: pointer;

    &.fa-times{
      transform: rotate(180deg);
    }
  }


  .navbar-container {
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    margin-left: -5%;

    .nav-logo{
      #navbar-logo{
        font-size: 2rem;
        padding-left: 4rem;

      }
    }
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    background: white;
  }

  .navbar-menu.active {
    background: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    margin-left: -5%;
  a{
    color: black !important;
    font-size: 2.5rem;
  }
  }


  .navbar-item {
    width: auto;
  }

  .navbar-links {
    text-align: center;
    padding: 2rem;
    width: auto;
    display: table;
    height: auto;
    font-size: 1.6rem;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar{
    height: 80px;
    .navbar-container{
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
      .nav-logo{
        #navbar-logo{
          padding-left: 4rem;
          font-size: 3.2rem;
        }
      }
      .navbar-toggle{
        #menu-btn{
          display: inline-block;
          transition: all 0.3s ease-in-out;
          color:  $lightRed;
          font-size: 2.5rem;
          display: block;
          cursor: pointer;

          &.fa-times{
            transform: rotate(180deg);
          }
        }
      }
      .navbar-menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: white;
        .navbar-item{
          width: auto;
          .navbar-links{
            text-align: center;
            padding: 2rem;
            width: auto;
            display: table;
            height: auto;
            font-size: 1.6rem;
          }
        }
      }

      .navbar-menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
      a{
        color: black !important;
        font-size: 2.5rem;
      }
      }
    }
  }

  .navbar .navbar-container .nav-logo {
       margin-top: 0;
    }



    #about{
      .container{
        .row{
          .profile{
            margin-bottom: 5%;
          }
          .about-p{
            width: 100%;
            h2{
              font-size: 2.5rem;
            }
            h4{
              font-size: 1.8rem;
            }
            p{
              font-size: 1.8rem;
              width: 100% ;
            }
          }
        }
      }

    }



}

@media only screen and (min-device-width: 280px) and (max-device-width: 1028px) {

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar{
    .navbar-container{
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
      .nav-logo{
        #navbar-logo{
          padding-left: 4rem;
          font-size: 3.6rem;
        }
      }
      .navbar-toggle{
        #menu-btn{
          display: inline-block;
          transition: all 0.3s ease-in-out;
          color:  $lightRed;
          font-size: 3rem;
          display: block;
          cursor: pointer;

          &.fa-times{
            transform: rotate(180deg);
          }
        }
      }
      .navbar-menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: white;
        .navbar-item{
          width: auto;
          height: 100px;
          .navbar-links{
            text-align: center;
            padding: 2rem;
            width: auto;
            display: table;
            height: auto;
            font-size: 1.6rem;
          }
        }
      }

      .navbar-menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
      a{
        color: black !important;
        font-size: 2.5rem;
      }
      }
    }
  }

  .navbar .navbar-container .nav-logo {
       margin-top: 0;
    }


header{
  .container-fluid{
    .row{
      .col{
        .content-box{
          h4{
            font-size: 2.5rem;
          }
          h1{
            font-size: 4.5rem;
          }
          p{
            font-size: 2rem;
          }
          a{
            font-size: 2rem;


          }
        }
      }
    }
  }
}

#about{
  .row{
    .profile{
      margin-bottom: 5%;
    }
    .about-p{
      h2{
        font-size: 2.5rem;
      }
      h4{
        font-size: 1.8rem;
      }
      p{
        font-size: 1.8rem;
        line-height: 35px;
      }
    }
  }
}

#exp-id{
  .row{
    .a-skill{
      h3{
        font-size: 2.5rem;
      }
    }
    .col-md-6{
      label{
        font-size: 1.5rem;
      }
      .progress{
        height: 13px !important;
        font-size: 15px !important;
      }
    }
  }
}

/*#projects-id{
  .container{
    .row{
      .col{
        .col{
          h2{
            font-size: 2.5rem
          }
        }
      }
      .col-lg-4{
        .box{
          height: 400px;
          width: 100%;
          img{

          }
          .info{
            h2{
              font-size: 2.5rem;
            }
            p{
              font-size: 1.8rem;
            }
            a{
              button{
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}*/

.portfolio{
  .container-lg{
    .row{
      display: flex;
      flex-direction: column;
      align-items: center;
      .col-lg-8{
        .section-title{
          .mb-5{
            font-size: 2.5rem !important;
          }
        }
      }
      .col-sm-12{
        width: 90%;
        height: auto;
        .portfolio-item{
          margin-bottom: 10% !important;
          img{
            height: 390px!important;
          }
          h3{
            font-size: 2.5rem !important;
          }
          p{
            font-size: 2rem;
          }
        }
      }
    }
  }
}

#contact-id{
.container{
  .contact-title{
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .row{
    .col-lg-6{
      .text-section{
        margin-top: 10%;
        h3{

        }
      }
      .text-form{
        margin-top: 7%;
      }
    }
  }
}

  }

footer{
  .container{
    .row{
      .col{
        .r-icon{
          ul{
            li{
              a{
                font-size: 2rem;
              }
            }
          }
        }
        .text-muted{
          font-size: 1.3rem;
        }
      }
    }
  }
}







}
